#container .inner {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; /* 确保padding包含在总宽度内 */
}

@media (min-width: 768px) {
  #container .inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1024px) {
  #container .inner {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 1400px) {
  #container .inner {
    padding-left: 100px;
    padding-right: 100px;
  }
}